{#<ul class="pagination">#}
    {#{% if total != 0 %}#}
        {#{% for i in 1..total %}#}
            {#<li#}
                    {#{% if page == i %}#}
                        {#class="active"#}
                    {#{% endif %}#}
            {#>#}
                {#<a href="{{ url(route, {'page' : i}) }}">{{ i }}</a></li>#}
        {#{% endfor %}#}
    {#{% endif %}#}
{#</ul>#}
<nav aria-label="Page navigation">
    <ul class="pagination ">
        {% if page != 1 %}
            <li class="previous">
                <a href="{{ url(route, {'page' : 1}) }}"><span aria-hidden="true">&larr;</span>Pierwsza</a>
            </li>
            <li>
                <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        {% endif %}

        {% if total != 0 %}
            {% for i in 1..total %}
                <li
                        {% if page == i %}
                            class="active"
                        {% endif %}
                >
                    <a href="{{ url(route, {'page' : i}) }}">{{ i }}</a></li>
            {% endfor %}
        {% endif %}

        {% if page != total %}
            <li>
                <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            <li class="next">
                <a href="{{ url(route, {'page' : total}) }}">Ostatnia <span aria-hidden="true">&rarr;</span></a>
            </li>
        {% endif %}
    </ul>
</nav>